[DEFAULT]
FileStorePath=./session/
ConnectionType=initiator
StartTime=00:01:00
EndTime=23:59:00
HeartBtInt=30
UseDataDictionary=Y
#DataDictionary= C:\Python Projects\ForexApi\quickfix-1.15.1\quickfix-1.15.1.data\data\share\quickfix\FIX44.xml
DataDictionary=FIX44.xml
ValidateFieldsOutOfOrder=N
PreserveMessageFieldsOrder=N
ValidateUserDefinedFields=N
ValidateIncomingMessage=N
RefreshOnLogon=Y
FileLogPath=./Logs
SSL_PROTOCOL = TLSv1.3

[SESSION]
BeginString=FIX.4.4
SocketConnectHost= startraderuk.primexm.com
SocketConnectPort= 16148
SenderCompID=Q040
TargetCompID=XC691

[LOGGING]
ScreenLogEvents=N
ScreenLogShowIncoming=N
ScreenLogShowOutgoing=N
ScreenLogShowHeartBeats=N
CheakLatency=N

[ACCOUNT]
Username=primexm_LIV_NRI_5036_q
Password=sdUBURunJY9w
